.nav{
    background: #2f2f2f;
    color:white;
    position: fixed;
    height: 100%;
    width: 270px;
    box-shadow: 10px 0px 10px #0000006c;
}

.hamburguerMenu{
    color:red;
    display: none;
}

@media(max-width:500px){
    .nav{
        display:none;
    }
    .hamburguerMenu{
        position: fixed;
        display: block;
        width: 100%;
        background: #2f2f2f;
        height: 100px;
    }
}

.botones{
    /* background: green; */
    margin: auto;
    margin-top:0px;
    
}

.botonLi{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 25px;
    /* background:red; */
    padding-left:22px;
    padding-right:22px;
    padding-top:20px;
    padding-bottom:12px;
    /* width: 139px; */
    text-align: center;
}

.botonLi:hover{
    background: red !important;
}

.botonLi p{
    text-align:center;
    color:white;
    font-size: 1rem;
    font-weight: 500;
}